<footer class="footer">
  {% include social-icons.html %}
  <div class="footer-description">
    <a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a>
    <script src="{{site.github.url}}/assets/js/busuanzi.pure.mini.js" defer></script>
    <span id="busuanzi_container_site_pv">
      本站总访问量<span id="busuanzi_value_site_pv"></span>次
      本站访客数<span id="busuanzi_value_site_uv"></span>人次
      本文总阅读量<span id="busuanzi_value_page_pv"></span>次
   </span>

  </div>

</footer>

<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=7AvNSF0a_Sq9DN0L59UBHtlszAo3hv_QI8pHiVw4Vhk&cl=ffffff&w=a"></script>