---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Blog</h3>
{% for blog in site.data.settings.blog %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ blog.title }}</h5>
    <!-- <p>Email: {{ person.email }}</p> -->
    <!-- <p>Phone: {{ person.phone }}</p> -->
    <p><a href="{{ site.github.url }}/blog/{{ blog.url }}">More info</a></p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/{{ blog.image }}" alt="Contact" width="100%">
  </div>
</div>


<!-- <ul>
  {% for category in site.categories %}
    <li><a href="{{ site.github.url }}/blog/{{ blog.url }}">{{ category | first }}</a></li>
  {% endfor %}
</ul> -->
  

{% endfor %}

