---
layout: default
---

<!-- 添加这个样式以移除边框 -->
<style>
  .panel-group,
  .panel,
  .panel-heading,
  .list-group-item {
    border: none;
  }
</style>

{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category[0] %}

  {% if category_name == first_post.categories[0] %}
    {% assign sub_categories = "" %}
    {% for post in posts_of_category %}
      {% if post.categories.size > 1 %}
        {% assign sub_categories = sub_categories | append: post.categories[1] | append: "|" %}
      {% endif %}
    {% endfor %}

    {% assign sub_categories = sub_categories | split: "|" | uniq %}
    {% assign sub_categories_size = sub_categories | size %}

    <!-- 创建 Bootstrap 面板组 -->
    <div class="panel-group">
      <!-- 创建 Bootstrap 面板 -->
      <div class="panel panel-default">
        <!-- 面板标题 -->
        <div class="panel-heading" id="{{ category_name }}">
          <i class="far fa-folder"></i>&nbsp;
          {{ category_name }}&nbsp;
          <!-- 显示该分类下的文章数量 -->
          {% assign top_posts_size = posts_of_category | size %}
          <span class="text-muted small">
            {{ top_posts_size }} post{% if top_posts_size > 1 %}s{% endif %}
          </span>
        </div>

        {% if sub_categories_size > 0 %}
        <!-- 如果有子分类，创建折叠面板 -->
        <div id="grp_{{ category_name }}" class="panel-collapse collapse">
          <!-- 列出子分类下的文章 -->
          <ul class="list-group">
            {% for sub_category in sub_categories %}
              {% assign sub_category_posts = site.categories[sub_category] %}
              {% for sub_post in sub_category_posts %}
                <!-- 显示子分类下的文章标题和链接 -->
                <li class="list-group-item" style="padding-left: 2rem;">
                  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% else %}
          <!-- 如果没有子分类，列出当前分类下的文章 -->
          <ul class="list-group">
            {% for post in posts_of_category %}
              <!-- 显示当前分类下的文章标题和链接 -->
              <li class="list-group-item" style="padding-left: 2rem;">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
