<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>
      {% include footer.html %}

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-DGMSK4G2XJ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DGMSK4G2XJ');
      </script>

    </div>
  </body>
</html>
<!-- <link href="{{ site.github.url }}/assets/css/prism.css" rel="stylesheet" />
<script src="{{ site.github.url }}/assets/js/prism.js"></script> -->

<!-- Google tag (gtag.js) -->
