---
layout: default
---

<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      <script src="{{site.github.url}}/assets/js/busuanzi.pure.mini.js" defer></script>
      {{ post.content | strip_html | truncate: 50 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - 
        <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %} 
        <i class="fa fa-eye" aria-hidden="true"></i> 阅读量：<span id="busuanzi_value_page_pv"></span>次
		
      </span>
    </p>
  </div>
{% endfor %}

<!-- 引入 update_views.js -->
<script src="{{ site.github.url }}/assets/js/update_view.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DGMSK4G2XJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DGMSK4G2XJ');
</script>