---
layout: default
---

<h1>
  {{ page.title }}
</h1>
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}
<article>
  {{ content }}
</article>
{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}
{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DGMSK4G2XJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DGMSK4G2XJ');
</script>
<link href="{{ site.github.url }}/assets/css/prism.css" rel="stylesheet" />
<script src="{{ site.github.url }}/assets/js/prism.js"></script>
<script src="{{ site.github.url }}/assets/js/update_view.js"></script>
<script id="dsq-count-scr" src="//https-github-com-xpji-jianpu-github-io.disqus.com/count.js" async></script>


{% if site.disqus_comments %}
  {% include disqus_comments.html %}
{% endif %}

{\%\if page.tags.size > 0 \%\}
        <div class="blog-tags">
          Tags:
          {\%\if site.link-tags \%\}
          {\%\for tag in page.tags \%\}
            <a href="\{\{ '/tags' | relative_url \}\}#\{\{- tag -\}\}">\{\{- tag -\}\}</a>
          {\%\endfor \%\}
          {\%\else \%\}
            \{\{ page.tags | join: ", " \}\}
          {\%\endif \%\}
        </div>
      {\%\endif \%\}

	<!--添加分类-->
	 {\%\if page.categories.size > 0 \%\}
		  <div class="blog-tags">
		  Category：
		{\%\if post \%\}
			{\%\assign categories = post.categories \%\}
		{\%\else \%\}
			{\%\assign categories = page.categories \%\}
		{\%\endif \%\}
		{\%\for category in categories \%\}
			<a href="\{\{site.baseurl\}\}/categories/#\{\{category|slugize\}\}">\{\{category\}\}</a>
			{\%\unless forloop.last \%\}&nbsp;{\%\endunless \%\}
			{\%\endfor \%\}
		</div>
	{\%\endif \%\}