---
layout: default
---

<style>
  /* 添加这个样式以移除边框 */
  .panel-group,
  .panel,
  .panel-heading,
  .list-group-item {
    border: none;
  }

  /* 添加样式以调整侧边索引导航的样式 */
  #side-nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    /* 设置初始宽度 */
    width: 150px;
    overflow: auto;
  }

  #side-nav a {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    max-width: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
  }
</style>

<div id="content-wrapper">
  <div id="main-content">
    <h1>{{ page.title }}</h1>
    {% if page.image %}
      <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
      {% include toc.html html=content %}
    {% endif %}

    <article>
      {{ content }}
    </article>
  </div>

  
<!-- 添加侧边索引导航 -->
<div id="side-nav">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var headings = document.querySelectorAll("article h2, article h3, article h4, article h5, article h6");
      
      if (headings.length > 0) {
        headings.forEach(function(heading) {
          var link = document.createElement("a");
          link.href = "#" + heading.id;
          
          // 根据标题的级别设置不同的缩进
          var level = parseInt(heading.tagName.charAt(1), 10) - 1;
          link.style.marginLeft = level * 20 + "px";
          
          link.textContent = heading.textContent;
          document.getElementById("side-nav").appendChild(link);
        });
      }
    });
  </script>
</div>


<!-- 引入 jQuery 和 jQuery UI Resizable -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- 启用 jQuery UI Resizable -->
<script>
  $(function() {
    $("#side-nav").resizable({
      handles: "e",
      minWidth: 100
    });
  });
</script>


  <!-- Include other components -->
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if site.hide_post_share != true %}
    {% include social-sharing.html %}
  {% endif %}
  {% if site.hide_related_posts != true %}
    {% include related-posts.html %}
  {% endif %}

  {% if site.disqus_comments != true%}
    {% include disqus_comments.html %}
  {% endif %} 

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DGMSK4G2XJ"></script> 

  <link href="{{ site.github.url }}/assets/css/prism.css" rel="stylesheet" />
  <script src="{{ site.github.url }}/assets/js/prism.js"></script>
  <script src="{{ site.github.url }}/assets/js/update_view.js"></script>
  <script id="dsq-count-scr" src="//https-github-com-xpji-jianpu-github-io.disqus.com/count.js" async></script>
</div>
